/* autocomplete */



.autocomplete_input{
    border:1px solid #96c832;
}


.autocomplete {
    border:1px solid #96c832;
    padding:7px;
    padding-left:1px;
    cursor:pointer;
    overflow:auto;
    height:500px;
    position:relative;
}
.autocomplete div{
    padding: 0;
    border-bottom:none;
    position:relative;
}

 div.term:hover{
    cursor:pointer;
    background: silver;
}

.letters .sel{
    background: url('../img/sel_letter.png') no-repeat;
    border-top: #96c832 solid 1px;
    
}

.letters div{
    width:20px;
}

.letters_l div{
    /*text-align: right;*/
}

.letters_r div{
    text-align: left;
}

.letters_r .sel{
    border-left: #96c832 solid 1px;
    
}

.letters_l .sel{
    border-right: #96c832 solid 1px;
    
}

.letters .sel{
    background: url('../img/sel_letter.png') no-repeat;
    border-top: #96c832 solid 1px;
    
}
.letters a{
    color:#96c832;
    text-align: center;
    font-weight:bold;
}
